.ant-menu-horizontal {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 375px;
    height: 49px;
    background: #fff;
}
body{
    background-color: #f2f2f2;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #f2f2f2;
    padding-bottom: 99px;
}
.main-title {
    position: relative;
}
.title-site {
    height: 43px;
}
.title-fix {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 375px;
    height: 42px;
    overflow: hidden;
    background: #fff;
    border-bottom: #ccc solid 1px;
}
.title-fix a {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 22px;
}
.title-fix p {
    line-height: 42px;
    width: 240px;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: #333;
}
.escp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon {
    width: 22px;
    height: 22px;
    vertical-align: -3.3px;
    fill: currentColor;
    overflow: hidden;
}
.title-fix span {
    position: absolute;
    right: 10px;
    top: 0;
    color: #333;
    font-size: 15px;
    line-height: 44px;
}
.none {
    display: none;
}
.shopcar-empty {
    position: absolute;
    left: 50%;
    top: 80px;
    width: 280px;
    margin-left: -140px;
    text-align: center;
}
.shopcar-empty img {
    display: inline-block;
    width: 50px;
    height: 50px;
}
img {
    max-width: 100%;
}
.shopcar-empty .empty-til {
    font-size: 15px;
    color: #666;
    line-height: 55px;
}
.shopcar-empty a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    background-color: #B768A5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
a {
    text-decoration: none;
    color: #333;
}
