body{height: 2000px;}
.el-input .el-icon-search {
     left:0;
     top: .14rem;
}
.el-input .el-input__inner{
    padding: .06rem 0 .06rem .6rem;
    background-color: #f2f2f2;
    // width: 7.1rem;
    height: .6rem;
    margin: .14rem auto 0;
}
.el-input{
    margin:0 0 0 .2rem ;

}
.nav_lz .el-input{
    width: 95%;
    height: .6rem;
    // position: fixed;
    // z-index: 1;
}
.nav_lz{
    margin: 0 auto;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 9999999;
    height: 1rem;
    padding: 0 auto;

}
.el-tabs__header{
    position: fixed;
    top:.75rem;
    width: 100%;
    z-index: 9999999;
    background-color: #fff;
}
.el-tabs__content{
   padding-top:1.6rem;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .guarantee_g {
    height: .723rem;
    background-color: #fff;
    padding: 0 .3rem;
}
.guarantee_g {
    height: .723rem;
    background-color: #fff;
    padding: 0 .3rem;
}
.guarantee_g span {
    display: inline-block;
    font-family: PingFangSC-Regular;
    color: #9687A4;
    font-size: .24rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.guarantee_g span.icon-line {
    background: url(https://static.biyao.com/mnew/img/master/index/separation_line@2x_fdcbbcd.png) no-repeat center;
    width: .2rem;
    height: .24rem;
    background-size: 100% 100%;
}
.guarantee_g span {
    display: inline-block;
    font-family: PingFangSC-Regular;
    color: #9687A4;
    font-size: .24rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.guarantee_g p{
    margin: 0;
    text-align: center;
    padding-top:.2rem;
    
}
span.icon-line{
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 .1rem;
}
.titleline-box {
    width: 100%;
    text-align: center;
    padding-top: .28rem;
    // padding-bottom: .14rem;
    position: relative;
    background: #fff;
}
.titleline-box a {
    display: block;
}
.titleline-box span:nth-child(1) {
    display: inline-block;
    height: .4rem;
    margin: 0 auto ;
    font-size: .28rem;
    border-bottom: solid .02rem #4A4A4A;
    // color: #666;
}
.titleline-box a p{
    color: #CCB17A;
    font-size: .1rem;
}
.blockline{
    width:100%;
    height:0.1rem;
    background:#FFFFFF;
}
.labels_1{
    background:#AB7FD1;
    color:#FFFFFF;
    border:0.01rem solid #AB7FD1;
    border-radius: .02rem;
}
.labels_2{
    background: #FFFFFF;
    color: #FB4C81;
    border: 0.01rem solid #FB4C81;
    border-radius: .02rem;
}
.module-list {
    width: 49.5%;
    position: relative;
    border-bottom: .02rem solid #F4F4F4;
    border-right: .02rem solid #F4F4F4;
    background: #fff;
    padding-bottom: .28rem;
}
.section-cateList div {
    box-sizing: border-box;
}
.module-list a>img {
    display: block;
    width: 3.74rem;
    height: 3.74rem;
    margin-bottom: .16rem;
}
.module-list a>dl {
    width: 3.74rem!important;
    font-size: .24rem;
}
.doubleRowList .module-list .price {
    color: #F7A701;
    margin-bottom: .12rem;
}
.section-proList a>dl .price {
    color: #F7A701;
    font-size: .34rem;
    margin-bottom: .08rem;
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
}
.doubleRowList .price {
    margin-bottom: .12rem!important;
}
.module-list a>dl .price >span:nth-child(1) {
    font-size: .2rem;
    margin-top: .09rem;
}
.module-list a>dl .price >span:nth-child(2) {
    font-size: .45rem;
    margin-left: .04rem;
}
.module-list a>dl dd, dt {
    margin-left: .24rem;
}
.labels {
    font-size: .18rem;
}
.labels span {
    margin-right: .08rem;
    margin-bottom: .12rem;
    display: inline-block;
    padding: .03rem .04rem;
    line-height: .36rem;
}
.module-list a>dl .module-subtitle {
    color: #BF9E6B;
    margin-bottom: .08rem;
    font-size: .24rem;
}
.escp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.module-list a>dl .module-title {
    margin-bottom: .08rem;
    color: #4A4A4A;
}
.section-proList a dl .last-line {
    color: #BBB;
    font-size: .2rem;
    padding-top: .06rem;
}
.last-line {
    color: #BBB;
    font-size: .2rem;
    padding-top: .06rem;
}
.doubleRowList div {
    box-sizing: border-box;
}
.doubleRowList {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}