#z{
.personal {
    width: 7.5rem;
    height: 1.52rem;
    background: url(https://static.biyao.com/mnew/img/master/personalCenter/img_my_background@2x_14c0b34.jpg) center top no-repeat;
    background-size: 100% 100%;
    padding: .32rem;
    box-sizing: border-box;
    display: flex;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.personal .personal-pic {
    display: inline-block;
    width: .88rem;
    height: .88rem;
    border: .04rem #FFF solid;
    border-radius: 50%;
    background: #FFF;
}

.personal .person-info {
    width: 3.62rem;
    height: .8rem;
    padding-top: .04rem;
    margin-left: .12rem;
}
.personal .person-info .person-name {
    width: 100%;
    height: .42rem;
    display: flex;
}
.personal .person-info .person-level {
    width: .32rem;
    padding-top: .14rem;
}
.personal ul {
    width: 2.24rem;
    height: auto;
    padding-top: .04rem;
    display: flex;
}
.personal ul li {
    width: .88rem;
    text-align: center;
    margin-left: .24rem;
}
.order-panel {
    width: 100%;
    height: 1.72rem;
    background: #FFF;
    padding: .2rem .24rem;
    display: flex;
    box-sizing: border-box;
    margin-bottom: .16rem;
}.order-panel .order-all {
    width: 1.32rem;
    height: 1.32rem;
    text-align: center;
    padding-top: .13rem;
}.order-panel .order-line {
    width: .18rem;
    padding-top: .13rem;
}.order-panel ul {
    display: flex;
}.order-panel ul li {
    width: 1.32rem;
    height: 1.32rem;
    text-align: center;
    padding-top: .21rem;
    margin: 0 .03rem;
    position: relative;
}.order-panel a {
    height: 100%;
    position: relative;
    display: block;
}.personal .personal-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}.personal .person-info .person-name p {
    max-width: 1.8rem;
    height: .42rem;
    line-height: .42rem;
    font-size: .3rem;
    color: #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}a {
    text-decoration: none;
    color: #333;
}.personal .person-info .person-level img {
    width: 100%;
}img {
    border: 0 none;
    vertical-align: top;
}.personal ul li a {
    position: relative;
    height: 100%;
    display: block;
}.order-panel ul li img {
    width: .44rem;
    height: .44rem;
}.order-panel ul li p {
    position: absolute;
    bottom:.1rem;
    width: 100%;
    height: .33rem;
    line-height: .33rem;
    font-size: .24rem;
    color: #666;
    margin-top: .14rem;
}.order-panel .order-all p {
    position: absolute;
    bottom:.1rem;
    width: 100%;
    height: .3rem;
    line-height: .3rem;
    font-size: .22rem;
    color: #666;
    margin-top: .06rem;
}.order-panel .order-all span {
    width: 100%;
    height: .25rem;
    line-height: .25rem;
    font-size: .18rem;
    color: #999;
}.order-panel .order-all img {
    width: .48rem;
    height: .48rem;
}.personal ul li a {
    display: block;
}.personal ul li img {
    width: .4rem;
}.personal ul li p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .28rem;
    line-height: .28rem;
    font-size: .2rem;
    color: #FFF;
    text-align: center;
    margin-top: .1rem;
}.personal ul li {
    width: .88rem;
    text-align: center;
    margin-left: .24rem;
}ul, ol, li {
    list-style: none;
}.order-panel ul li .none {
    display: none;
}

.order-panel ul li span {
    min-width: .28rem;
    height: .28rem;
    line-height: .28rem;
    font-size: .2rem;
    color: #FFF;
    text-align: center;
    border-radius: .14rem;
    background: #F84242;
    display: block;
    overflow: hidden;
    position: absolute;
    right: .32rem;
    top: .03rem;
}.personal {
    width: 100%;
    height: 1.52rem;
    background: url(https://static.biyao.com/mnew/img/master/personalCenter/img_my_background@2x_14c0b34.jpg) 100% 100% no-repeat;
    background-size: 100% 100%;
    padding: .32rem;
    box-sizing: border-box;
    display: flex;
}#root{
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #f2f2f2;
    padding-bottom: .99rem;
}.order-panel .order-line img {
    width: 100%;
}

.entry-wrapper {
    margin-top: .16rem;
    overflow: hidden;
}.entry-List {
    width: 7.5rem;
    padding-bottom: .64rem;
    background: #fff;
    overflow: hidden;
}.entry-li {
    margin-left: .2rem;
    width: 1.26rem;
    float: left;
}.entry-item {
    margin-top: .28rem;
    padding-top: .14rem;
    height: 1.26rem;
}.entry-icon {
    position: relative;
    margin: 0 auto;
    width: .44rem;
    height: .44rem;
}.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
}.entry-text {
    margin-top: .16rem;
    height: .34rem;
    line-height: .34rem;
    font-size: .24rem;
    color: #666;
    text-align: center;
}.entry-icon .icon {
    position: absolute;   
    width: .44rem;
    height: .44rem;
}

.zrecommend{
    margin-top:0.25rem;
    background-color:#fff;
}
.zrecommend .recommend-title{
    font-size: 0.3rem;
    text-align: center;
}.section-cateList div {
    box-sizing: border-box;}
a {
    text-decoration: none;
    color: #333;
}
.module-list a>img {
    display: block;
    width: 3.74rem;
    height: 3.74rem;
    margin-bottom: .16rem;
}

.module-list a > dl{
    color:red;
}
#section-cateList{
    background-color:#fff;
    position: relative;
    display: flex;
}
#section-cateList .module-list{
    flex:1;
}

img {
    border: 0 none;
    vertical-align: top;
}
.module-list a > dl {
    width: 3.74rem !important;
    font-size: .24rem;
}
.doubleRowList .module-list .price {
    color: #F7A701;
    margin-bottom: .12rem;
}
.section-proList a > dl .price {
    color: #F7A701;
    font-size: .34rem;
    margin-bottom: .08rem;
    display: -webkit-flex;
    display: flex;
    margin-left: .24rem;
}.module-list a > dl .price > span:nth-child(1) {
    font-size: .2rem;
    margin-top: .09rem;
}.module-list a > dl .price > span:nth-child(2) {
    font-size: .32rem;
    margin-left: .04rem;
}.module-list a > dl dd, dt {

    margin-left: .24rem;

}
.labels {

    font-size: .18rem;

}
.labels span {

    margin-right: .08rem;
    margin-bottom: .12rem;
    display: inline-block;
    padding: .03rem .04rem;
    line-height: .2rem;

}
.module-list a > dl .module-subtitle {

    color: #BF9E6B;
    margin-bottom: .08rem;
    font-size: .24rem;

}
.module-list a > dl dd, dt {

    margin-left: .24rem;

}
.escp {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.module-list a > dl .module-title {

    margin-bottom: .08rem;
    color: #4A4A4A;

}
.module-list a > dl dd, dt {

    margin-left: .24rem;

}
.escp {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.section-proList a dl .last-line {

    color: #BBB;
    font-size: .2rem;
    padding-top: .06rem;

}
.module-list a > dl dd, dt {

    margin-left: .24rem;

}.recommend-title .line {

    width: 1.12rem;
    height: 0;
    border-bottom: .02rem solid #4A4A4A;
    text-align: center;
    margin: 0 auto;

}.recommend-title .title {

    height: .4rem;
    line-height: .4rem;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: .28rem;
    color: #4A4A4A;

}
.recommend-title {
    text-align: center;
    height: .98rem;
    background: #fff;

}
}